/Dart.class
/Dragon.class
/Element.class
/Exit.class
/Game.class
/Hero.class
/Maze.class
/Maze_Builder.class
/Move_Dragon.class
/Move_Hero.class
/Random_Exit.class
/Random_Maze.class
/Shield.class
/Static_Maze.class
/Sword.class
/Throw_Dart.class
